.ortala {
    width: 28%;
    margin: 0 auto;
}
.aramabox {
    background-color: white;
    width: 28%;
    height: 16px;
    border-width: 1px;
    border-color: black;
}

.ana {
    background-color: #aaaaaa;
    margin-left: auto;
    margin-right: auto;
}

.box2 {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}


.turkuaz {
    background-color: aquamarine;
    width: 33%;
    height: 100px;
    margin-right: 2px;
    float: left;

}

a.ortala {
    display: block;
}